@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --breakpoint-md: 920px;
}

body {
  font-family: var(--font-inter, Arial, sans-serif);
}
